<h1>change password</h1>

<% if (message) { %>
    <%= message %>
    <% } %>

<form action="/changepassword" method="POST">
    <input type="password" name="currentpassword" placeholder="current password" required>
    <input type="password" name="newpassword" placeholder="new password" required>
    <input type="password" name="confirmpassword" placeholder="confirm password" required>
    <button>Submit</button>
</form>

<li><a href="/portal">home</a></li>