<h1>High School Job Tracker</h1>
<h1>Verify your email address</h1>

            <form action="/emailConfirmation" method="POST">
                <input type="text" name="code" placeholder="code">
                <!-- <input type="hidden" id="verificationCode" name="verificationCode" value= -->
                <button>submit</button>
            </form>

            <!-- <li><a href="/preregister">Sign up</a></li>  -->