
<form action="/forgotpasswordreset" method="POST">
    <input type="password" name="newpassword" placeholder="new password" required>
    <input type="password" name="confirm password" placeholder="confirm password" required>
    <button>reset</button>
</form>