<h1>High School Job Tracker</h1> 
<h1>Forgot password</h1> 
  
<form action="/forgotpassword" method="POST"> 
    <input type="text" name="email"
        placeholder="email"> 
        <button>Send Code</button> 
</form> 

