<form action="/forgotpasswordcode" method="POST"> 

    <input type="hidden" id="email" name="email" value="<%= email %>">
    
    <input type="text" name="code"
        placeholder="code"> 
        <button>Enter Code</button> 
</form> 