<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="null">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="signup.css">

    <link rel="stylesheet" href="signin.css">

    <title>Admin Sign Up - High School JobFinder</title>

    <style>
        .signup-form {
            width: 600px;
            margin: 30px auto;
        }
    </style>

</head>

<body>

    <div class="container" style="width: 600px;">
        <div class="signup-form">

             <!-- form to send email to developers -->     
            <form action="/helpcenter" method="POST">
                <h2>Contact Us</h2>

                <% if (error) { %>
                    <%= error %>
                        <% } %>

                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Name"
                                    required="required">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email"
                                    required="required">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" placeholder="Subject"
                                    required="required">
                            </div>

                            <div class="form-group">
                                <textarea type="text" id="message" name="message" rows="4" style="height:100%;"
                                    class="form-control md-textarea" placeholder="Your message"></textarea>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Send</button>
                            </div>

            </form>
        </div>

    <!-- back button -->    
        <div class="signup-form2">
            <button class="btn btn-secondary btn-lg" onclick="goBack()">Go Back</button>
        </div>
    </div>

    <!-- back button function -->    
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>


</html>