<h1> Sign up </h1>

<form action="/registerStudent" method="POST">
    <input type="text" name="firstname" placeholder="firstname" required>

    <input type="text" name="lastname" placeholder="lastname" required>

    <input type="text" name="email" placeholder="email" required>

    <select name="School" id="School">
        <option value="Earl of March Secondary School">Earl of March Secondary School</option>
    </select>

    <input type="password" name="password" placeholder="password" required>

    <input type="password" name="confirmPassword" placeholder="confirm password" required>

    <input type="text" name="year" placeholder="year" required>

    <select name="month" id="month">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>

    <input type="text" name="day" placeholder="day" required>

    <% if (error) { %>
        <%= error %>
        <% } %>

    <button>Create Account</button>
</form>

<li><a href="/login">Login</a></li>