<h1> Sign up </h1>

<form action="/registerEmployer" method="POST">
    <input type="text" name="companyName" placeholder="companyName" required>

    <input type="text" name="email" placeholder="email" required>

    <input type="password" name="password" placeholder="password" required>

    <input type="password" name="confirmPassword" placeholder="confirm password" required>
    
    <input type="text" name="address" placeholder="Address" required>
    
    <input type="text" name="unit" placeholder="Unit" required> 

    <input type="text" name="city" placeholder="City" required>

    <input type="text" name="province" placeholder="Province" required>

    <input type="text" name="country" placeholder="Country" required>
    
    <input type="text" name="postalCode" placeholder="Postal Code" required>

    <% if (error) { %>
        <%= error %>
        <% } %>

    <button>Create Account</button>
</form>

<li><a href="/login">Login</a></li>