<h1>Resourcees</h1>

<h2>Xello</h2>

<body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien non mauris
    fringilla ultricies nec eu arcu. Praesent quis eros at purus bibendum
    varius non eget ipsum. Phasellus risus orci, hendrerit a lacinia scelerisque,
    pharetra eu dui. Proin ut aliquam massa, sed facilisis leo. Phasellus egestas porttitor metus ut luctus.
    Donec rutrum elit eget eros tristique, ut dictum purus maximus. Donec dapibus justo sed tempus elementum.
    Ut metus risus, efficitur id purus et, cursus tristique leo. Suspendisse erat elit, porta et euismod vitae, eleifend
    non neque. Maecenas quis ante lectus.
    Quisque pellentesque, neque et elementum vestibulum, lorem lacus ornare lectus, at dapibus leo massa eget ex.
    Maecenas tristique malesuada purus a facilisis.
    Integer leo purus, eleifend porta efficitur in, faucibus nec elit. Sed tincidunt blandit vehicula.</body>

<h2>Resume Builder</h2>

<body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien non mauris
    fringilla ultricies nec eu arcu. Praesent quis eros at purus bibendum
    varius non eget ipsum. Phasellus risus orci, hendrerit a lacinia scelerisque,
    pharetra eu dui. Proin ut aliquam massa, sed facilisis leo. Phasellus egestas porttitor metus ut luctus.
    Donec rutrum elit eget eros tristique, ut dictum purus maximus. Donec dapibus justo sed tempus elementum.
    Ut metus risus, efficitur id purus et, cursus tristique leo. Suspendisse erat elit, porta et euismod vitae, eleifend
    non neque. Maecenas quis ante lectus.
    Quisque pellentesque, neque et elementum vestibulum, lorem lacus ornare lectus, at dapibus leo massa eget ex.
    Maecenas tristique malesuada purus a facilisis.
    Integer leo purus, eleifend porta efficitur in, faucibus nec elit. Sed tincidunt blandit vehicula.</body>
<h2>Cover Letter</h2>

<body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien non mauris
    fringilla ultricies nec eu arcu. Praesent quis eros at purus bibendum
    varius non eget ipsum. Phasellus risus orci, hendrerit a lacinia scelerisque,
    pharetra eu dui. Proin ut aliquam massa, sed facilisis leo. Phasellus egestas porttitor metus ut luctus.
    Donec rutrum elit eget eros tristique, ut dictum purus maximus. Donec dapibus justo sed tempus elementum.
    Ut metus risus, efficitur id purus et, cursus tristique leo. Suspendisse erat elit, porta et euismod vitae, eleifend
    non neque. Maecenas quis ante lectus.
    Quisque pellentesque, neque et elementum vestibulum, lorem lacus ornare lectus, at dapibus leo massa eget ex.
    Maecenas tristique malesuada purus a facilisis.
    Integer leo purus, eleifend porta efficitur in, faucibus nec elit. Sed tincidunt blandit vehicula.</body>
<h2>Additional Resource</h2>

<body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien non mauris
    fringilla ultricies nec eu arcu. Praesent quis eros at purus bibendum
    varius non eget ipsum. Phasellus risus orci, hendrerit a lacinia scelerisque,
    pharetra eu dui. Proin ut aliquam massa, sed facilisis leo. Phasellus egestas porttitor metus ut luctus.
    Donec rutrum elit eget eros tristique, ut dictum purus maximus. Donec dapibus justo sed tempus elementum.
    Ut metus risus, efficitur id purus et, cursus tristique leo. Suspendisse erat elit, porta et euismod vitae, eleifend
    non neque. Maecenas quis ante lectus.
    Quisque pellentesque, neque et elementum vestibulum, lorem lacus ornare lectus, at dapibus leo massa eget ex.
    Maecenas tristique malesuada purus a facilisis.
    Integer leo purus, eleifend porta efficitur in, faucibus nec elit. Sed tincidunt blandit vehicula.</body>

<br><br>

<button onclick="goBack()">Go Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>