<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="null">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="signup.css">

    <link rel="stylesheet" href="signin.css">

    <title>Resources - High School JobFinder</title>

    <style>
        .signup-form {
            width: 450px;
            margin: 30px auto;
        }
    </style>

</head>

<body>

<!-- displays helpful resources -->   
    <div class="container float float-left" style="width: 450px;">
        <div class="signup-form">
            <form action="/helpcenter" method="POST">
                <h2><a href="https://xello.world/en/">Xello</a></h2>

                <div class="form-group">
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien non mauris
                        fringilla ultricies nec eu arcu. Praesent quis eros at purus bibendum
                        varius non eget ipsum. Phasellus risus orci, hendrerit a lacinia scelerisque,
                        pharetra eu dui. Proin ut aliquam massa, sed facilisis leo. Phasellus egestas porttitor metus ut luctus.
                    </div>
                </div>    


            </form>
        </div>

        <div class="signup-form2">
            <button class="btn btn-secondary btn-lg" onclick="goBack()">Go Back</button>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>


</html>








<!-- 
<h1>Resourcees</h1>

<h2>Xello</h2>

<body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien non mauris
    fringilla ultricies nec eu arcu. Praesent quis eros at purus bibendum
    varius non eget ipsum. Phasellus risus orci, hendrerit a lacinia scelerisque,
    pharetra eu dui. Proin ut aliquam massa, sed facilisis leo. Phasellus egestas porttitor metus ut luctus.
    Donec rutrum elit eget eros tristique, ut dictum purus maximus. Donec dapibus justo sed tempus elementum.
    Ut metus risus, efficitur id purus et, cursus tristique leo. Suspendisse erat elit, porta et euismod vitae, eleifend
    non neque. Maecenas quis ante lectus.
    Quisque pellentesque, neque et elementum vestibulum, lorem lacus ornare lectus, at dapibus leo massa eget ex.
    Maecenas tristique malesuada purus a facilisis.
    Integer leo purus, eleifend porta efficitur in, faucibus nec elit. Sed tincidunt blandit vehicula.</body>

<h2>Resume Builder</h2>

<body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien non mauris
    fringilla ultricies nec eu arcu. Praesent quis eros at purus bibendum
    varius non eget ipsum. Phasellus risus orci, hendrerit a lacinia scelerisque,
    pharetra eu dui. Proin ut aliquam massa, sed facilisis leo. Phasellus egestas porttitor metus ut luctus.
    Donec rutrum elit eget eros tristique, ut dictum purus maximus. Donec dapibus justo sed tempus elementum.
    Ut metus risus, efficitur id purus et, cursus tristique leo. Suspendisse erat elit, porta et euismod vitae, eleifend
    non neque. Maecenas quis ante lectus.
    Quisque pellentesque, neque et elementum vestibulum, lorem lacus ornare lectus, at dapibus leo massa eget ex.
    Maecenas tristique malesuada purus a facilisis.
    Integer leo purus, eleifend porta efficitur in, faucibus nec elit. Sed tincidunt blandit vehicula.</body>
<h2>Cover Letter</h2>

<body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien non mauris
    fringilla ultricies nec eu arcu. Praesent quis eros at purus bibendum
    varius non eget ipsum. Phasellus risus orci, hendrerit a lacinia scelerisque,
    pharetra eu dui. Proin ut aliquam massa, sed facilisis leo. Phasellus egestas porttitor metus ut luctus.
    Donec rutrum elit eget eros tristique, ut dictum purus maximus. Donec dapibus justo sed tempus elementum.
    Ut metus risus, efficitur id purus et, cursus tristique leo. Suspendisse erat elit, porta et euismod vitae, eleifend
    non neque. Maecenas quis ante lectus.
    Quisque pellentesque, neque et elementum vestibulum, lorem lacus ornare lectus, at dapibus leo massa eget ex.
    Maecenas tristique malesuada purus a facilisis.
    Integer leo purus, eleifend porta efficitur in, faucibus nec elit. Sed tincidunt blandit vehicula.</body>
<h2>Additional Resource</h2>

<body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien non mauris
    fringilla ultricies nec eu arcu. Praesent quis eros at purus bibendum
    varius non eget ipsum. Phasellus risus orci, hendrerit a lacinia scelerisque,
    pharetra eu dui. Proin ut aliquam massa, sed facilisis leo. Phasellus egestas porttitor metus ut luctus.
    Donec rutrum elit eget eros tristique, ut dictum purus maximus. Donec dapibus justo sed tempus elementum.
    Ut metus risus, efficitur id purus et, cursus tristique leo. Suspendisse erat elit, porta et euismod vitae, eleifend
    non neque. Maecenas quis ante lectus.
    Quisque pellentesque, neque et elementum vestibulum, lorem lacus ornare lectus, at dapibus leo massa eget ex.
    Maecenas tristique malesuada purus a facilisis.
    Integer leo purus, eleifend porta efficitur in, faucibus nec elit. Sed tincidunt blandit vehicula.</body> -->

<br><br>
