<div class="topnav">
    <a class="active" href="/admin-portal/admin-userview">View Users</a>
    <a href="/admin-portal/admin-jobview">View Jobs</a>
    <a href="/admin-portal/admin-myaccount">My Account</a>
  </div>

<li><a href="/logout">Logout</a></li>