 <!-- unfinished -->

<div class="topnav">
    <a class="active" href="/student-portal/student-findjobs">Find Jobs</a>
    <!-- <a href="/student-portal/student-bookmarks">Bookmarks</a> -->
    <a href="/student-portal/student-applications">My Applications</a>
    <a href="/resources">Resources</a>
    <a href="/helpCenter">Help Center</a>
    <a href="/student-portal/student-viewprofile">Account</a>
    <a href="/logout">Logout</a>
  </div>

