<div class="topnav">
    <a class="active" href="/student-portal/student-findjobs">Find Jobs</a>
    <a href="/student-portal/student-bookmarks">Bookmarks</a>
    <a href="/student-portal/student-applications">My Applications</a>
    <a href="/resources">Resources</a>
    <a href="/helpCenter">Help Center</a>
    <a href="/student-portal/student-viewprofile">Account</a>
    <a href="/logout">Logout</a>
</div>

<h1><%=name%></h1>

<h2>School: xxx</h2>

<h2>Grade: xxx</h2>
<form action="/changepassword" method="POST">
    <input type="password" name="Current Password" placeholder="Current Password">
    <hr>
    <input type="password" name="New Password" placeholder="New Passowrd">
    <hr> 
    <input type="password" name="New Password" placeholder="Confirm Password">
    <button>Submit</button>
</form>

<body>If any of your account information is incorrect, please contact your school's administrator.</body>