<div class="topnav">
    <a class="active" href="/student-portal/student-findjobs">Find Jobs</a>
    <a href="/student-portal/student-bookmarks">Bookmarks</a>
    <a href="/student-portal/student-applications">My Applications</a>
    <a href="/resources">Resources</a>
    <a href="/helpCenter">Help Center</a>
    <a href="/student-portal/student-viewprofile">Account</a>
    <a href="/logout">Logout</a>
</div>

<h2>Photo: xxx</h2>
<h2>Company: Company Name</h2>
<h2>Location: Location</h2>
<h2>Company Website: Website URL</h2>


<h3>Company Description</h3>

<body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Proin lorem justo, euismod ac ultrices ut, vehicula ut dui. Vivamus leo nunc, lacinia iaculis efficitur a, dapibus non augue. 
    Curabitur feugiat dui quis sollicitudin sagittis. Donec finibus nulla risus, at interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Proin lorem justo, euismod ac ultrices ut, vehicula ut dui. Vivamus leo nunc</body>