<div class="topnav">
    <a class="active" href="/student-portal/student-findjobs">Find Jobs</a>
    <a href="/student-portal/student-bookmarks">Bookmarks</a>
    <a href="/student-portal/student-applications">My Applications</a>
    <a href="/resources">Resources</a>
    <a href="/helpCenter">Help Center</a>
    <a href="/student-portal/student-viewprofile">Account</a>
    <a href="/logout">Logout</a>
</div>

<!-- this page has no proper post. refer to the post of changepassword. and change the form to support it -->

<h1><%=name%></h1>

<h2>School: <%=school%></h2>

<h2>Grade: xxx</h2>

<br>

<% if (message) { %>
    <%= message %>
    <% } %>
    
<form action="/changepassword" method="POST">
    <input type="password" name="currentpassword" placeholder="Current Password">
    <hr>
    <input type="password" name="newpassword" placeholder="New Password">
    <hr> 
    <input type="password" name="confirmpassword" placeholder="Confirm Password">
    <button>Submit</button>
</form>

<body>If any of your account information is incorrect, please contact your school's administrator.</body>