<!-- <div class="topnav">
  <a class="active" href="/student-portal/student-findjobs">Find Jobs</a>
  <a href="/student-portal/student-bookmarks">Bookmarks</a>
  <a href="/student-portal/student-applications">My Applications</a>
  <a href="/resources">Resources</a>
  <a href="/helpCenter">Help Center</a>
  <a href="/student-portal/student-viewprofile">Account</a>
  <a href="/logout">Logout</a>
</div>
 -->

<!-- <form action="/student-portal/non-dynamic-search" method="POST">
  <input type="text" name="firstname" placeholder="firstname" required>
  <button>Search</button>
</form> -->

<!-- <p>
  <form action = "/student-portal/student-findjobs" method="GET">
    <div>
      <input type="text" name = "search" placeholder="jobPostSearch">
      <input type="submit" value="Search" >
    </div>
  </form>
</p>
 -->

 

 <!DOCTYPE html>
 <html>
 
 <head>
   <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"
     integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
 </head>
 
 <body>
   <div class="ui">
     <label for="jobpost">jobpost</label><br>
     <input id="jobpost">
   </div>
 
   <script>
     $(document).ready(function () {
       $("#jobpost").autocomplete({
         source: async function (req, res) {
           let data = await fetch(`/search?term=${req.term}`)
             .then(results => results.json())
             .then(results => results.map(result => {
            //    console.log(result);
                return { label: result.jobTitle, value: result.jobTitle, id: result._id };
             }));
           res(data);
         },
         minLength: 2,
         select: function(event, ui){
           console.log(ui.item);
         }
       })
     });
    //  https://localhost:3000

   </script>
 </body>
 
 </html>