<div class="topnav">
    <!-- <a class="active" href="/employer-portal/employer-profile">Dashboard</a> -->
    <a href="/employer-portal/employer-jobview">My Jobs</a>
    <a href="/employer-portal/employer-jobcreate">Create Jobs</a>
    <a href="/employer-portal/employer-editprofile">Edit Profile</a>
</div>

<li><a href="/logout">Logout</a></li>